* {
    margin: 0;
    padding: 0;
}

.heart {
    left: 620px;
    position: relative;
    height: 160px;
    width: 100px;
    background: #f2c;
    border-radius: 200px 200px 0 0;
    transform: rotate(45deg);
}

.heart::before {
    content: " ";
    position: absolute;
    height: 160px;
    width: 100px;
    background: #f2c;
    border-radius: 200px 200px 0 0;
    transform: rotate(-90deg);
    top: 30px;
    left: -30px;
}